<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>freepaymentbox</name>
            <displayName><![CDATA[Freepaymentbox]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Free to use and free of charge paybox payment toolkit adaptation]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>